<div class="cortex-modal cortex-library" data-id="cortex-modal-library">

	<div class="cortex-modal-content">

		<div class="cortex-modal-content-head">
			<div class="cortex-modal-content-head-title">{{ __('Insert Block', 'cortex') }}</div>
			<div class="cortex-modal-content-head-close">
				<button type="button" class="media-modal-close cortex-modal-close">
					<span class="media-modal-icon">
						<span class="screen-reader-text">{{ __('Close', 'cortex') }}</span>
					</span>
				</button>
			</div>
		</div>

		<div class="cortex-modal-content-body">

			<div class="cortex-library-menu">

				<select class="cortex-library-filter">
					<option value="all">{{ __('All Blocks', 'cortex') }}</option>
					<option value="layout">{{ __('Layouts Blocks', 'cortex') }}</option>
					{% for group in groups %}
						<option value="{{ group }}">{{ group }}</option>
					{% endfor %}
				</select>

				<div class="cortex-library-query">
					<input type="search" class="wp-filter-search cortex-library-query-input" placeholder="{{ __('Search', 'cortex') }}" aria-describedby="live-search-desc">
				</div>

			</div>

			<div class="cortex-library-content">
				<div class="cortex-library-grid">
					{% for template in templates if template.active %}
						<div class="cortex-library-grid-cell" data-template="{{ template.guid }}" data-group="{{ template.group }}" data-name="{{ template.name }}">
							<div class="cortex-library-grid-item">
								<div class="cortex-library-grid-item-body">
									<div class="cortex-library-grid-item-icon"><img src="{{ template.get_icon_url() }}"></div>
									<div class="cortex-library-grid-item-text">
										<div class="cortex-library-grid-item-name">{{ template.name }}</div>
										<div class="cortex-library-grid-item-hint">{{ template.hint }}</div>
									</div>
								</div>
								<div class="cortex-library-grid-item-foot">
									<button type="button" class="button button-large button-primary cortex-library-grid-item-insert-button">{{ __('Insert Block', 'cortex') }}</button>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

		</div>

	</div>

</div>