<div class="cortex-block-list-item cortex-sortable-item" data-id="{{ block.id }}">

	<div class="cortex-block-list-item-menu">

		<div class="cortex-block-list-item-menu-lf">

			<div class="cortex-block-list-item-handle cortex-sortable-handle">
				<div class="cortex-block-list-item-handle-bar"></div>
				<div class="cortex-block-list-item-handle-bar"></div>
				<div class="cortex-block-list-item-handle-bar"></div>
			</div>

			<div class="cortex-block-list-item-title">{{ __(block.template.name) }}</div>

			<div class="cortex-block-list-item-menu-button cortex-block-list-item-menu-button-show">
				<a href="#">{{ __('Show', 'cortex') }}</a>
			</div>

			<div class="cortex-block-list-item-menu-button cortex-block-list-item-menu-button-hide">
				<a href="#">{{ __('Hide', 'cortex') }}</a>
			</div>

		</div>

		<div class="cortex-block-list-item-menu-rg">

			{% if block.template.group != "layout" %}
				<div class="cortex-block-list-item-menu-button cortex-block-list-item-menu-button-copy">
					<a href="#">{{ __('Copy', 'cortex') }}</a>
				</div>
			{% endif %}

			{% if block.template.group != "layout" %}
				<div class="cortex-block-list-item-menu-button cortex-block-list-item-menu-button-move">
					<a href="#">{{ __('Move', 'cortex') }}</a>
				</div>
			{% endif %}

			<div class="cortex-block-list-item-menu-button cortex-block-list-item-menu-button-remove">
				<a href="#">{{ __('Remove', 'cortex') }}</a>
			</div>

			<div class="cortex-block-list-item-menu-button cortex-block-list-item-menu-button-update">
				<a href="#" class="button button-small">{{ __('Edit', 'cortex') }}</a>
			</div>

		</div>

	</div>

	{% include "cortex-block-list-item-preview.twig" %}

</div>