<div class="cortex-post-selector-post-list-group">

	{% for group in groups %}

		<h3>{{ group.name }}</h3>

		<table class="wp-list-table widefat fixed striped pages cortex-post-selector-post-list">
			<thead>
				<tr>
					<th width="90%" class="manage-column column-primary">{{ __('Title', 'cortex') }}</th>
					<th width="10%" class="manage-column"></th>
				</tr>
			</thead>
			<tbody>

				{% for post in group.posts %}

					{% set language = fn('apply_filters', 'wpml_post_language_details', null, post.id) %}

					<tr class="cortex-post-selector-post-list-item">
						<td class="cortex-post-selector-post-list-item-title">
							<div class="cortex-post-selector-post-list-item-title-name">{{ post.title }}</div>
							<div class="cortex-post-selector-post-list-item-title-lang">
								{% if icl %}
									<img src="{{ flags[language.language_code] }}"> {{ language.native_name }}
								{% endif %}
							</div>
						</td>
						<td class="cortex-post-selector-post-list-item-check">
							<a href="#" data-document="{{ post.id }}">{{ __('Select', 'cortex') }}</a>
						</td>
					</tr>

				{% endfor %}

				{% set len = group.posts | length %}

				{% if len == 0 %}
					<tr class="cortex-post-selector-post-list-item">
						<td class="cortex-post-selector-post-list-item-title" colspan="2">
							<em>{{ __('Empty', 'cortex') }}</em>
						</td>
					</tr>
				{% endif %}

				{% if len == 50 and group.total > len %}
					<tr class="cortex-post-selector-post-list-item">
						<td class="cortex-post-selector-post-list-item-warning" colspan="2">
							{{ __('This post type contains more than 50 posts. You should use the search box instead.', 'cortex') }}
						</td>
					</tr>
				{% endif %}

			</tbody>
			<tfoot>
				<tr>
					<th class="manage-column column-primary">Title</th>
					<th class="manage-column"></th>
				</tr>
			</tfoot>
		</table>

	{% endfor %}

</div>