<div class="cortex-preview">
	<table class="field-list">
		{% for field in fields %}
			<tr>
				<td class="field-label">{{ field.label }}</td>
				<td class="field-value">
					{{ '{%' }} if post.get_field('{{ field.name }}') is empty {{ '%}' }}
						<span class="field-value-empty">
							{{ '{{' }} __('Empty', 'cortex') {{ '}}' }}
						</span>
					{{ '{% else %}' }}
						{{ '{{' }} post.get_field('{{ field.name }}') {{ '}}' }}
					{{ '{% endif %}' }}
				</td>
			</tr>
		{% endfor %}
	</table>
</div>